body {
  margin: 0;
  color: white;
  background-color: #202020;
  font-family: "Times New Roman", Times, serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

p {
  text-align: center;
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

nav {
  background: #202020;
  padding: 1rem;
  margin-bottom: 20px;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding: 0;
  margin: 0 40px 0 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.image-row img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.center-img {
  display: block;
  margin: 20px auto;
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.plumbing video {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: auto;
}

.resume {
  text-align: left;
  padding: 20px;
}

.aatrox-image img {
  width: 500px;
  height: auto;
}

.rune-image img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.runes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 600px;
  margin: 0 auto;
  gap: 20px;
}

.rune-column {
  width: 45%;
}

.rune-column h3,
.rune-column li {
  text-align: left;
}

#map {
  width: 100%;
  height: 500px;
}
.map-buttons {
  text-align: center;
  margin-top: 20px;
}

.map-buttons button {
  margin: 0 10px;
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.map-buttons button:hover {
  background-color: #666;
}

@media (min-width: 600px) {
  body {
    font-size: 1.1rem;
  }

  .rune-column {
    width: 48%;
  }

  nav ul {
    gap: 20px;
  }

  main {
    padding: 40px 20px 20px 20px;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 1.25rem;
  }

  .runes {
    gap: 40px;
  }

  main {
    padding: 40px 20px 20px 20px;
  }
}
