body {
  color: white;
  background-color: #202020;
}

main {
  max-width: 800px; 
  margin: 0 auto; 
  text-align: left;
}

p{
  text-align: center;
  color: white;
}

nav {
  background: #222;
  text-align: left;
  padding: 1rem;
  margin-bottom: 20px;
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 40px;
  padding: 0;
  margin: 0 80px 0 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
h1, h2, h3{
   text-align: center
  
}

.plumbing img{
  display: inline-block;
  width: 200px;
}

.cat-images{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cat-images img {
  width: 250px;
  height: auto;
  gap: 0px;
}   

.plumbing video {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: auto;
}


.resume {
  text-align: left;
  padding: 20px;
}

.aatrox-image img{
  width: 500px;
  height: auto;
  gap: 0px;
}

.runes{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 600px;
  margin: 0 auto;
  gap: 20px;
}


.rune-column {
  width: 45%;
}

.rune-column h3 {
  text-align: left; 
}

.rune-column ul {
  list-style: none;
  padding: 0;
}

.rune-column li {
  text-align: left;
}